/* Box Shadow Inset */
.hvr-box-shadow-inset {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.6), 0 0 1px transparent;
  /* Hack to improve aliasing on mobile/tablet devices */ }

.hvr-box-shadow-inset:hover, .hvr-box-shadow-inset:focus, .hvr-box-shadow-inset:active {
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.6), 0 0 1px transparent;
  /* Hack to improve aliasing on mobile/tablet devices */ }

/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; }

.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity; }

.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */ }

.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */ }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%;
  background-color: lightgray; }

.dropdown {
  display: none; }

header {
  height: 100px;
  width: 100%;
  background-color: #afd6db;
  padding: 0;
  margin: 0; }
  header::after {
    clear: both;
    content: "";
    display: block; }

.viewport {
  height: 100%;
  width: 100%; }
  .viewport::after {
    clear: both;
    content: "";
    display: block; }

.hero {
  height: 500px;
  width: 90%;
  margin: 0 auto; }
  @media screen and (max-width: 768px) {
    .hero {
      height: 275px;
      width: 90%; } }

.main-content {
  height: 100%;
  width: 100%;
  border: 2px solid blue; }
  .main-content::after {
    clear: both;
    content: "";
    display: block; }

.doug-bio {
  margin-top: 50px;
  padding-left: 20px;
  height: 500px;
  width: 100%;
  background-color: #666;
  border: 2px solid red; }

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  align-items: flex-start; }
  .nav a {
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-family: 'Patrick Hand SC', cursive;
    text-shadow: 1px 1px 2px black;
    padding-top: 40px;
    margin: 0 20px; }
  .nav img {
    height: 50px;
    width: 250px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px; }
  @media screen and (max-width: 1100px) {
    .nav a {
      display: none;
      font-size: 24px; }
    .nav .mobile-nav-btn {
      position: absolute;
      left: 18px;
      top: 35px; }
    .nav .dropdown {
      position: relative;
      display: inline-block; }
    .nav .dropbtn {
      background-color: #b3ffb3;
      text-shadow: 1px 1px 2px black;
      color: white;
      padding: 5px 20px;
      font-size: 20px;
      border: none;
      cursor: pointer;
      font-family: 'Patrick Hand SC', cursive;
      border-radius: 5px; }
    .nav .dropdown-content {
      display: none;
      position: absolute;
      background-color: #888177;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      border-radius: 5px; }
    .nav .dropdown-content a {
      color: #f2df22;
      padding: 12px 16px;
      margin: 20px 0;
      text-decoration: none;
      display: block; }
    .nav .dropdown-content a:hover {
      background-color: #da794e; }
    .nav .dropdown:hover .dropdown-content {
      display: block; }
    .nav .dropdown:hover .dropbtn {
      background-color: #3e8e41; } }

.hero {
  padding-top: 20px; }
  .hero .main-square {
    width: calc(70% - 4px);
    height: 100%;
    float: left; }
    .hero .main-square img {
      height: 100%;
      width: 100%; }
  .hero .top-square {
    height: calc(50% - 2px);
    width: 30%;
    float: right;
    margin-bottom: 4px; }
    .hero .top-square img {
      height: 100%;
      width: 100%; }
  .hero .bottom-square {
    height: calc(50% - 2px);
    width: 30%;
    float: right; }
    .hero .bottom-square img {
      height: 100%;
      width: 100%; }

.doug-bio {
  font-family: 'Patrick Hand SC', cursive;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .doug-bio .doug-image {
    background-image: url("../img/doug2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 400px;
    width: 1200px;
    border-radius: 50%;
    border: 5px outset white;
    align-self: center; }
  .doug-bio .bio {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .doug-bio .bio .box1 {
      margin: 0 50px; }
      .doug-bio .bio .box1 h1 {
        text-decoration: underline; }
      .doug-bio .bio .box1 p {
        font-size: 26px;
        font-weight: bold; }
    .doug-bio .bio .box2 {
      margin: 0 50px 50px 50px; }
      .doug-bio .bio .box2 h2 {
        text-decoration: underline; }
      .doug-bio .bio .box2 p {
        font-size: 20px;
        font-weight: bold; }

@media screen and (max-width: 1200px) {
  .doug-bio {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .doug-bio .doug-image {
      height: 250px;
      width: 250px; }
    .doug-bio .bio {
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .doug-bio .bio .box1 p {
        font-size: 20px; }
      .doug-bio .bio .box2 p {
        font-size: 16px; } }
@media screen and (max-width: 875px) {
  .doug-bio {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .doug-bio .doug-image {
      height: 250px;
      width: 250px;
      margin-top: 0; }
    .doug-bio .bio {
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .doug-bio .bio .box1 h1 {
        font-size: 24px; }
      .doug-bio .bio .box1 p {
        font-size: 16px; }
      .doug-bio .bio .box2 p {
        font-size: 14px; } }
@media screen and (max-width: 575px) {
  .doug-bio {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .doug-bio .doug-image {
      height: 200px;
      width: 200px;
      margin-top: 0; }
    .doug-bio .bio {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      line-height: 1.1; }
      .doug-bio .bio .box1 h1 {
        font-size: 20px; }
      .doug-bio .bio .box1 p {
        font-size: 16px; }
      .doug-bio .bio .box2 h2 {
        font-size: 20px; }
      .doug-bio .bio .box2 p {
        font-size: 14px; } }

/*# sourceMappingURL=styles.css.map */
