.doug-bio {
  font-family: 'Patrick Hand SC', cursive;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .doug-image{
    background-image: url('../img/doug2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    @include size(1200px 400px);
    border-radius: 50%;
    border: 5px outset white;
    align-self: center;
  }

  .bio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .box1 {
      margin: 0 50px;
      h1 {
        text-decoration: underline;
      }

      p{
        font-size: 26px;
        font-weight: bold;
      }
    }
    .box2 {
    margin: 0 50px 50px 50px;

      h2 {
        text-decoration: underline;
      }

      p {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}


@include desktop-breakpoint {
  .doug-bio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .doug-image {
      @include size(250px 250px);
    }

    .bio {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .box1 {
        p {
          font-size: 20px;
        }
      }
      .box2 {
        p {
          font-size: 16px;
        }
      }
    }
  }
}


@include large-tablet-breakpoint {
  .doug-bio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .doug-image {
      @include size(250px 250px);
      margin-top: 0;
    }

    .bio {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .box1 {
        h1 {
        font-size: 24px;
        }

        p {
          font-size: 16px;
        }
      }
      .box2 {

        h2 {

        }

        p {
          font-size: 14px;
        }
      }
    }
  }
}

@include phone-breakpoint {
  .doug-bio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;


    .doug-image {
      @include size(200px 200px);
      margin-top: 0;
    }

    .bio {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      line-height: 1.1;
      margin-bottom: 20px;
      .box1 {
        h1 {
        font-size: 20px;
        }

        p {
          font-size: 16px;
        }
      }
      .box2 {
        h2 {
          font-size: 20px;
        }

        p {
          font-size: 14px;
        }
      }
    }
  }
}
