
$main-square-width: calc(70% - 4px);
$sub-square-width: 30%;
$sub-square-height: calc(50% - 2px);


.hero {
  padding-top: 20px;

  .main-square {
    width: $main-square-width;
    height: 100%;
    float: left;

    img {
      @include size(100% 100%);
    }
  }
  .top-square {
    @include size($sub-square-width $sub-square-height);
    float: right;
    margin-bottom: 4px;

    img {
      @include size(100% 100%);
    }
  }
  .bottom-square {
    @include size($sub-square-width $sub-square-height);
    float: right;

    img {
      @include size(100% 100%);
    }
  }

}
