$hero-width: 90%;


.viewport {
  @include grid-container;
  @include size(100% 100%);
}


.hero {
  @include size($hero-width 500px);
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    @include size($hero-width 275px)
  }

}

.main-content {
    @include grid-container;
    @include size(100% 100%);
}

.doug-bio {
  margin-top: 50px;
  padding-left: 20px;
  @include size(100% 500px);
}

.band-members {
  @include grid-container;
  @include size($hero-width 500px);
  margin: 0 auto;
}
